@using AVACOM_Online_Testiranje.Areas.User.Models
@model AVACOM_Online_Testiranje.Areas.User.Models.PitanjeOdgovorVM.PitanjeInfo
<table class="table table-striped">
    <tbody>
        <tr>
            @*@Html.HiddenFor(model => model.Id)*@
            <td>@Model.Pitanje</td>
        </tr>

        <tr>
            <td>
                @*@foreach (PitanjeOdgovorVM.OdgovorInfo item in Model.Odgovori)
                    {
                       <div class="radio">
                            <label>
                                <input type="radio" name="oznaceniOdgovori" value="@item.Odgovor">
                                @item.Odgovor
                            </label>
                           @Html.HiddenFor(model => model.Odgovori[i].Id)
                        </div>
                    }*@
                @for (int i = 0; i < Model.Odgovori.Count; i++)
                {
                    <div class="radio">
                        <label>
                            <input type="radio" name="oznaceniOdgovori" value="@Model.Odgovori[i].Id">
                            @Model.Odgovori[i].Odgovor
                        </label>
                    </div>
                }
            </td>
        </tr>
    </tbody>
</table>